0.0285714 YF#99 >= 1
drop_ball1_rooma_left#0 = 0
drop_ball1_rooma_right#1 = 0
drop_ball1_roomb_left#2 = 1
drop_ball1_roomb_right#3 = 0
drop_ball10_rooma_left#4 = 0
drop_ball10_rooma_right#5 = 0
drop_ball10_roomb_left#6 = 0
drop_ball10_roomb_right#7 = 1
drop_ball11_rooma_left#8 = 0
drop_ball11_rooma_right#9 = 0
drop_ball11_roomb_left#10 = 1
drop_ball11_roomb_right#11 = 0
drop_ball12_rooma_left#12 = 0
drop_ball12_rooma_right#13 = 0
drop_ball12_roomb_left#14 = 0
drop_ball12_roomb_right#15 = 1
drop_ball2_rooma_left#16 = 0
drop_ball2_rooma_right#17 = 0
drop_ball2_roomb_left#18 = 1
drop_ball2_roomb_right#19 = 0
drop_ball3_rooma_left#20 = 0
drop_ball3_rooma_right#21 = 0
drop_ball3_roomb_left#22 = 0
drop_ball3_roomb_right#23 = 1
drop_ball4_rooma_left#24 = 0
drop_ball4_rooma_right#25 = 0
drop_ball4_roomb_left#26 = 1
drop_ball4_roomb_right#27 = 0
drop_ball5_rooma_left#28 = 0
drop_ball5_rooma_right#29 = 0
drop_ball5_roomb_left#30 = 0
drop_ball5_roomb_right#31 = 1
drop_ball6_rooma_left#32 = 0
drop_ball6_rooma_right#33 = 0
drop_ball6_roomb_left#34 = 1
drop_ball6_roomb_right#35 = 0
drop_ball7_rooma_left#36 = 0
drop_ball7_rooma_right#37 = 0
drop_ball7_roomb_left#38 = 0
drop_ball7_roomb_right#39 = 1
drop_ball8_rooma_left#40 = 0
drop_ball8_rooma_right#41 = 0
drop_ball8_roomb_left#42 = 1
drop_ball8_roomb_right#43 = 0
drop_ball9_rooma_left#44 = 0
drop_ball9_rooma_right#45 = 0
drop_ball9_roomb_left#46 = 0
drop_ball9_roomb_right#47 = 1
move_rooma_roomb#48 = 6
move_roomb_rooma#49 = 5
pick_ball1_rooma_left#50 = 1
pick_ball1_rooma_right#51 = 0
pick_ball1_roomb_left#52 = 0
pick_ball1_roomb_right#53 = 0
pick_ball10_rooma_left#54 = 0
pick_ball10_rooma_right#55 = 1
pick_ball10_roomb_left#56 = 0
pick_ball10_roomb_right#57 = 0
pick_ball11_rooma_left#58 = 1
pick_ball11_rooma_right#59 = 0
pick_ball11_roomb_left#60 = 0
pick_ball11_roomb_right#61 = 0
pick_ball12_rooma_left#62 = 0
pick_ball12_rooma_right#63 = 1
pick_ball12_roomb_left#64 = 0
pick_ball12_roomb_right#65 = 0
pick_ball2_rooma_left#66 = 1
pick_ball2_rooma_right#67 = 0
pick_ball2_roomb_left#68 = 0
pick_ball2_roomb_right#69 = 0
pick_ball3_rooma_left#70 = 0
pick_ball3_rooma_right#71 = 1
pick_ball3_roomb_left#72 = 0
pick_ball3_roomb_right#73 = 0
pick_ball4_rooma_left#74 = 1
pick_ball4_rooma_right#75 = 0
pick_ball4_roomb_left#76 = 0
pick_ball4_roomb_right#77 = 0
pick_ball5_rooma_left#78 = 0
pick_ball5_rooma_right#79 = 1
pick_ball5_roomb_left#80 = 0
pick_ball5_roomb_right#81 = 0
pick_ball6_rooma_left#82 = 1
pick_ball6_rooma_right#83 = 0
pick_ball6_roomb_left#84 = 0
pick_ball6_roomb_right#85 = 0
pick_ball7_rooma_left#86 = 0
pick_ball7_rooma_right#87 = 1
pick_ball7_roomb_left#88 = 0
pick_ball7_roomb_right#89 = 0
pick_ball8_rooma_left#90 = 1
pick_ball8_rooma_right#91 = 0
pick_ball8_roomb_left#92 = 0
pick_ball8_roomb_right#93 = 0
pick_ball9_rooma_left#94 = 0
pick_ball9_rooma_right#95 = 1
pick_ball9_roomb_left#96 = 0
pick_ball9_roomb_right#97 = 0
